.container
  .page-hero.resources-hero
    %h1 Resources

  .page-section
    - @categories.each do |category|
      %h2= category.name
      - category.tools.each do |tool|
        .resource
          %p= tool.title
          %p= tool.summary
          %p= tool.url
          %p= tool.phone
