.container
  .page-hero.resources-hero
    = image_tag 'resources-stroke.png'
    %h1 Resources
  .resources-nav
    - @categories.each do |category|
      = link_to category.name, "#" + category.anchor, style: "width: #{100 / @categories.count}%"

  .page-section
    - colors = %w{blue yellow orange red purple}
    - @categories.each_with_index do |category, i|
      %h2.resource-category-heading{class: "segment-#{colors[i] if i < colors.length}", id: category.anchor}
        = category.name
      .resource-category
        - category.tools.in_groups_of(2).each do |tool|
          - if tool[0].featured
            = render 'tools/resource', featured: true, tool: tool[0]
            - next
          - if tool[1] && tool[1].featured
            = render 'tools/resource', featured: true, tool: tool[1]
            - next

          .resource-row
            = render 'tools/resource', tool: tool[0]
            - if tool[1]
              = render 'tools/resource', tool: tool[1], omega: true

