- provide :page_title, "Resources - RRUSA - Students Against Violence Project"
- provide :meta_description do
  Gender based violence resources. On-campus and off-campus resources as well
  as relevant articles, videos and other media curated by the Royal Roads
  University Students Association, in support of the Students Against Violence
  Project.

.container
  = render 'quizzes/take_the_quiz'

  .page-hero.resources-hero
    = image_tag 'resources-stroke.png'
    %h1 Resources
  .resources-nav
    - @categories.each do |category|
      = link_to category.name, "#" + category.anchor, style: "width: #{100 / @categories.count}%"

  .page-section
    - colors = %w{blue yellow orange red purple}
    - @categories.each_with_index do |category, i|
      %h2.resource-category-heading{class: "segment-#{colors[i] if i < colors.length}", id: category.anchor}
        = category.name
      .resource-category
        - category.tools.in_groups_of(2, false).each do |row|
          .resource-row
            - row.each_with_index do |tool, i|
              = render 'tools/resource', tool: tool, omega: (true if i % 2 != 0), featured: tool.featured


