.container
  .page-hero.resources-hero
    = image_tag 'resources-stroke.png'
    %h1 Resources

  .page-section
    - colors = %w{blue yellow orange red purple}
    - @categories.each_with_index do |category, i|
      %h2{class: "segment-#{colors[i] if i < colors.length}"}= category.name
      .resource-category
        - category.tools.each do |tool|
          .resource
            %p= tool.title
            %p= tool.summary
            %p= tool.url
            %p= tool.phone
