- provide :page_title, "Upcoming events - RRUSA - Students Against Violence Project"
- provide :meta_description do
  Upcoming events hosted by the Royal Roads University Students Association, in
  support of the Students Against Violence Project.

.container
  = render 'quizzes/take_the_quiz'

  .page-hero.events-hero
    = image_tag 'events-stroke.png'
    %h1 Upcoming Events

  .page-section
    - if @events.present?
      .events
        .event-headings
          .event-column Date
          .event-column Name
          .event-column Location


        - @events.each do |event|
          .event
            .event-column.event-date= event.date_str
            .event-column.event-name
              %strong= event.name
              %p= markdown(event.description.presence)
            .event-column.event-location= event.location

    - else
      %p.events-empty
        There aren't any scheduled events right now. <br/>
        Check back regularly to learn about our upcoming events.
