- provide :page_title, "Upcoming events - RRUSA - Students Against Violence Project"
- provide :meta_description do
  Upcoming events hosted by the Royal Roads University Students Association, in
  support of the Students Against Violence Project.

.container
  .page-hero.events-hero
    = image_tag 'events-stroke.png'
    %h1 Upcoming Events

  .page-section
    - if @events.present?
      .events
        .event-headings
          .event-column Date
          .event-column Name
          .event-column Location
          .event-column Address


        - @events.each do |event|
          .event
            .event-column.event-date= event.date_str
            .event-column.event-name= event.name
            .event-column.event-location= event.location
            .event-column.event-address= gmaps_link(event.address)

    - else
      %p.events-empty
        There aren't any scheduled events right now. <br/>
        Check back regularly to learn about our upcoming events.
