= content_for :javascripts, javascript_include_tag('pages/contact')
- provide :page_title, "Contact us - RRUSA - Students Against Violence Project"
- provide :meta_description do
  Get in touch with the Students Against Violence Project. Question? Feedback?
  Looking to learn more about the project? We are supported by the RRUSA and
  Status of Women Canada.

.container
  .page-hero.contact-hero
    = image_tag 'contact-stroke.png'
    %h1 Get in touch

  .page-section.section-contact
    .contact-rrusa
      %h2 Royal Roads University Student Association (RRUSA)
      %p.heading-4
        The RRUSA serves as a collective undergraduate voice, liaises with the
        University on a variety of issues, provides ongoing activities and events
        for learners, and administers the undergraduate extended healthcare plan.

    .contact-form
      %h2 Interested in getting involved with SAV?
      = form_for @contact do |f|
        = f.text_field :name, placeholder: 'Name'
        = f.text_field :email, placeholder: 'Email'
        = f.text_area :message, placeholder: 'Message'
        = f.submit 'Send message', class: 'button', data: { disable_with: 'Sending...' }
        .error-message
          Please fix the highlighted fields and try submitting the form again.

        .ajax-error-message
          Sorry, something went wrong. Please try again later.

        .success-message
          Thank you for contacting us! <br/>
          Someone will be in touch with you shortly.

  .page-section.section-other-contacts
    %h2 Other contacts
    .other-contacts

      .other-contact
        %h4= link_to 'Royal Roads Student Association', 'https://student.myrru.royalroads.ca/rrusa/student-association', target: '_blank'

      .other-contact
        %h4= link_to 'RRU Student Services', 'https://student.myrru.royalroads.ca/student-services', target: '_blank'

      .other-contact
        %h4= link_to 'RRU Security', 'https://student.myrru.royalroads.ca/student-services/security', target: '_blank'

      .other-contact
        %h4= link_to 'RRU Counselling Services', 'https://student.myrru.royalroads.ca/student-services/counselling-services', target: '_blank'

