= content_for :javascripts, javascript_include_tag('pages/support')
- provide :page_title, "Peer support - RRUSA - Students Against Violence Project"
- provide :meta_description do
  Get involved with the Students Against Violence campaign. We are currently
  accepting volunteer applications to provide support to combat gender based
  violence. Apply today!

.container
  = render 'quizzes/take_the_quiz'

  .page-hero.support-hero
    = image_tag 'support-stroke.png'
    %h1 Peer support


  .page-section.section-support
    .support-this-fall
      %h2 Coming in December...
      %p.heading-4
        The SAV Peer Support Program will be launching in early December. Thank
        you to all of those who applied to volunteer with the program.

      %p.heading-4
        Details about the project will be announced soon, so stay tuned for more
        information.

    .support-right
      = image_tag 'peer-support-logo.jpg'

      .support-sponsor
        %h2 Sponsor us!
        %p.heading-4
          If you are interested in sponsoring the continued development and
          evolution of the SAV Peer Support Project, please
          #{link_to 'contact us', contact_path}. We appreciate your support!

