= content_for :javascripts, javascript_include_tag('pages/support')
- provide :page_title, "Peer support - RRUSA - Students Against Violence Project"
- provide :meta_description do
  Get involved with the Students Against Violence campaign. We are currently
  accepting volunteer applications to provide support to combat gender based
  violence. Apply today!

.container
  = render 'quizzes/take_the_quiz'

  .page-hero.support-hero
    = image_tag 'support-stroke.png'
    %h1 Peer support


  .page-section.section-support
    .support-this-fall
      = markdown page_content_for('peer_support')

    .support-right
      = image_tag 'peer-support-logo.jpg'

      .support-sponsor
        = markdown page_content_for('sponsor_us')

