.container
  .page-hero.support-hero
    = image_tag 'support-stroke.png'
    %h1 Peer support


  .page-section.section-support
    .support-this-fall
      %h2 We are looking for Volunteers!
      %p.heading-4
        Do you want to help build something new and exciting at Royal Roads?
        Are you someone who likes to engage in conversations, learn new things
        and support their fellow peers? Then may we suggest becoming a part of
        the new Peer Support Team at Royal Roads!

      %p.heading-4
        RRUSA and SAV are looking for highly motivated, on-campus, second year
        students who are interested in joining us as Peer Support Volunteers for
        a seven month pilot project.

      %p.heading-4
        Training will commence in the fall, but we are looking for applications
        now. Check out our #{link_to 'position description', @description_url}
        for more details and if you like what you see, send us your application.
        We will be hosting an info night in September, but if you have any
        questions in the meantime, feel free to pop us an email.

      = link_to 'Apply now', "#", class: 'button'

    .support-right
      .support-sponsor
        %h2 Sponsor us!
        %p.heading-4
          If you are interested in sponsoring the continued development and
          evolution of the SAV Peer Support Project, please
          #{link_to 'contact us', contact_path}. We appreciate your support!

  .page-section.section-application
    %h2 Application form
    = form_for :lol do |f|
      = f.label :name
      = f.text_field :name

      = f.label :program
      = f.text_field :program

      = f.label :why, "Why do you want to be a Peer Support Volunteer?"
      = f.text_area :why

      = f.label :experience, "Do you have volunteer experience? If so, where did you volunteer and what were your duties?"
      = f.text_area :experience


      Why do you want to be a Peer Support Volunteer?

Do you have volunteer experience? If so, where did you volunteer and what were your duties?

What do you hope to gain from volunteering as a Peer Support Volunteer?

What do you consider your strengths, and how would you bring them to the role of a Peer Support

Volunteer?

What is your understanding about the way Gender Based Violence is affecting men and women

differently?

What do you believe are challenges a Peer Support Volunteer might encounter?

Please confirm these statements by checking the boxes next to them:

I am available to attend the training weekend October 17, 18 and 19th

I have read the position description and understand that I am responsible for:

-Attending monthly debrief sessions

-Completing a group outreach project

-Completing a Group Legacy Project.

I understand that this is a volunteer position with a bi-weekly honourarium for on call hours

      = f.submit 'Send application', class: 'button', data: { disable_with: 'Sending...' }

