%header.site-header
  .container
    #logo= link_to "LOGO", root_url

    %nav
      = link_to "events", events_path, class: "nav-1"
      = link_to "resources", resources_path, class: "nav-2"
      = link_to "support", support_path, class: "nav-3"
      = link_to "contact", contact_path, class: "nav-4"
