%header.site-header
  .container
    #logo= link_to "LOGO", root_url

    %nav
      = link_to "contact", "#", class: "nav-4"
      = link_to "about", "#", class: "nav-3"
      = link_to "resources", "#", class: "nav-2"
      = link_to "events", "#", class: "nav-1"
