%header.site-header
  .container
    #logo= link_to "LOGO", root_url

    %nav
      = link_to "contact", "#", class: "nav-link-4"
      = link_to "about", "#", class: "nav-link-3"
      = link_to "resources", "#", class: "nav-link-2"
      = link_to "events", "#", class: "nav-link-1"
